.container{
    
}
.imagediv{
    display: flex;
    justify-content: center;
    margin:16px;
}
.buttondiv{
    display: flex;
    justify-content: center;
}
button{
    color: white;
    border: none;
    border-radius: 2px;
    padding: 8px;
    background-color: rgb(189, 25, 161);
}
p{
    color: white
}